.container {
  display: block;
  height: 1024px;
  width: 960px;
  /*padding: 0px ;*/
  border-style: solid;
  border-color: black;
  border-radius: 3px;
}

.cell {
  background-color: black;
  opacity: .10;
  height: 60px;
  width: 60px;
  /*border-radius: 3px;*/
  margin-bottom: 0px;
  display: inline-block;
  border: none;
}

tr {
  border: none;
  margin-bottom: 0px;
}
