.pure-menu {
  background-color: #c7c7c7;
}

.pure-menu-item {
  display: inline-block;
}

.header {
  font-family: "Helvetica Neue";
  color: rgb(75, 75, 75);
  text-align: center;
}

h1 {
  font-family: arial;
  padding: 15px;
}

.pure-form {
  padding: 15px;
}

.container {
  display: block;
  height: 960px;
  width: 960px;
  /*padding: 0px ;*/
  border-style: solid;
  border-color: black;
  border-radius: 3px;
}

.row .cell {
  margin: 0;
  padding: 0;
  border: none;
  background-color: black;
  opacity: .20;
  height: 60px;
  width: 60px;
  /*border-radius: 3px;*/

  display: inline-block;
  border: none;
}

/* .row {
  border: none;
  margin: 0;
  padding: 0;
  height: 60px;
} */
