.container {
  display: block;
  height: 960px;
  width: 960px;
  /*padding: 0px ;*/
  border-style: solid;
  border-color: black;
  border-radius: 3px;
}

.row .cell {
  margin: 0;
  padding: 0;
  background-color: black;
  opacity: .20;
  height: 60px;
  width: 60px;
  /*border-radius: 3px;*/

  display: inline-block;
  border: none;
}

/* .row {
  border: none;
  margin: 0;
  padding: 0;
  height: 60px;
} */
